/*
Site:     Safe & Sound Music Fesitval - Mobile App Prototype
Created:  January, 2021

Table of Contents
1.  GLOBAL
2.  HEADER

/* =======================================
Branding
======================================= */

/* Brand Colors 

Dark Blue / Text: #001234;

*/

/* =======================================
GLOBAL
======================================= */

/* *, *:before, *:after {
border: 1px solid red;
}*/

@font-face {
  font-family: Syncopate-Regular;
  src: url("fonts/Syncopate-Regular.ttf");
}

@font-face {
  font-family: Syncopate-Bold;
  font-weight: bold;
  src: url("fonts/Syncopate-Bold.ttf");
}

/* =======================================
HEADER
======================================= */
/* Preloader */

.preloader {
  width: 414px;
  height: 896px;
  position: fixed;
  top: 40px;
  z-index: 4000;
  background-color: black;
  display: block;
  margin: 0 auto;
}

.preload-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 25%;
  position: absolute;
}

.preloader img {
  width: 70% !important;
}

#preloadimg {
  width: 46% !important;
  margin-top: 7%;
}

.preloadtext {
  padding-top: 10px;
  color: #fff;
  text-align: center;
}

.body {
  display: flex;
  overflow: visible;
  margin-right: auto;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  background-color: #323232;
}

.main-container {
  position: relative;
  top: 40px;
  overflow: auto;
  width: 414px;
  height: 896px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-image: url(images/bg-blur-overlay-v2.png);
  background-position: center;
  background-repeat: no-repeat;
}

.main-container.map-zoom-in {
  position: relative;
  top: 40px;
  overflow: auto;
  width: 414px;
  height: 896px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  background-image: url(images/map-zoom-in-bg.png);
}

.top-nav {
  position: sticky;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3000;
  width: 414px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/* Map Screen */

.screen-one-map {
  position: fixed;
  top: 40px;
}

.map-click {
  background-color: transparent;
  width: 50%;
  height: 32%;
  position: absolute;
  top: 48%;
  left: 50%;
}

/* Map Zoom */

.outer-scroll-container.parking {
  margin-right: 5px;
}

.inner-scroll-container.parking {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 13px;
  grid-row-gap: 11px;
  position: relative;
  right: -45px;
  top: 23px;
}

.map-zoom-bg {
  position: fixed;
  top: 40px;
}

/* space-c14 */

.content-wrapper {
  position: relative;
  top: -18px;
}

.inner-scroll-container.space-c14 {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.inner-scroll-container.space-c14 a {
    text-decoration: none;
}

.users-image img {
  box-shadow: 6px 5px 10px rgb(0 0 0 / 0.3);
  border-radius: 50%;
}

.title {
  display: flex;
  justify-content: center;
  color: #fff;
}

.title h4 {
  margin: 0 auto;
}

.user-name h4 {
  font-family: Lato;
  margin: 10px 0px 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

/* User Profile */

.user-title {
  display: flex;
  justify-content: center;
  font-family: Syncopate-Regular, Arial, Helvetica, sans-serif;
  color: #fff;
}

.user-title h4 {
  margin: 0 auto;
}

.user-profile-image {
  position: absolute;
  top: 45px;
  left: 15px;
}

.message-feed-button {
  z-index: 1000;
  position: absolute;
  left: 55px;
  top: 500px;
}
/* User Chat-1 */

.user-chat-wrapper {
  position: relative;
  top: -30px;
}

.user-chat-title {
  display: flex;
  justify-content: center;
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: #fff;
}

.user-chat-title h4 {
  margin: 0 auto;
  font-weight: 100;
}

.chat-bubble-wrap {
  display: flex;
  flex-direction: column;
  margin: 4% 6% 0%;
}

.right-bubble {
  text-align: right;
}

.left-bubble {
  text-align: left;
}

a#chat-link {
  position: absolute;
  width: 414px;
  height: 44px;
  background-color: transparent;
}

.keyboard-input {
  position: fixed;
  bottom: 40px;
}

/* send-food-1 */

.outer-scroll-drinks {
  display: flex;
  height: 340px;
}

.inner-scroll-drinks {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 5% 0%;
  overflow-y: scroll;
  -ms-overflow-style: none; // IE 10+
            scrollbar-width: none; // Firefox
  display: none; // Safari and Chrome
}

.drinks-menu {
  overflow: auto;
}

.button-switch {
  background-color: black;
  padding-left: 120px;
}

/* Food Screen */

.outer-scroll-container {
  display: flex;
}

.inner-scroll-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.inner-scroll-container a {
    text-decoration: none;
}

.prod-description {
  font-family: lato;
  color: #fff;
}

/* Drone Delivery Main Screen */

.menu-click {
  background-color: transparent;
  width: 50%;
  height: 32%;
  position: absolute;
  top: 48%;
  left: 50%;
}

.food-menu-gif {
  width: 414px;
  height: 350px;
}

.food-menu-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 30px;
}

.food-menu-title img {
  margin-right: 5%;
}

.food-menu-title h4 {
  color: #fff;
  font-family: Syncopate-bold;
  font-size: 24px;
  text-transform: uppercase;
}

.menu-but-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 286px;
  height: 55px;
  background: #000;
  margin: 0 auto;
  border: double 2px transparent;
  border-radius: 100px;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
    linear-gradient(180deg, #FFFFFF 4.66%, #E742F1 47.56%, #FFFFFF 96.77%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.menu-but-container:after {
  border-radius: 100px;
}

.menu-but-container img {
  margin-right: 5%;
}

.menu-buttons {
  margin-bottom: 20px;
}

.menu-buttons a {
  text-decoration: none;
}

.menu-but-container h4 {
  font-family: Syncopate-Regular;
  margin: 5px 0px 0px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}

/* Drone Delivery Menu Food Oreos */

.food-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    background-color: rgb(255 255 255 / .10);
    border-radius: 20px;
}

.food-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
  width: 100%;
  height: 140px;
}

.food-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.food-title h4 {
    font-size: 16px;
    font-family: lato;
    color: #fff !important;
}

.food-title.left, .food-title.right {
    width: 50%;
}

.food-title.left {
  text-align: left;
  padding: 0% 5%;
}

.food-title.left h4 {
  text-transform: uppercase;
    font-weight: 100;
}

.food-title.right {
  padding: 0% 0% 0% 30%;
}

.food-title.right h4 {
    font-size: 20px;
}

.qty-icon {
    left: 0;
    position: absolute;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    background-color: #000;
}


/* =======================================
BOTTOM NAV MENU
======================================= */

.bottom-nav {
  position: fixed;
  left: 0%;
  right: 0%;
  z-index: 1;
  display: flex;
  width: 414px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: space-between;
  align-items: center;
}

.bottom-bar-bg {
  position: fixed;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 40px;
  width: 414px;
  margin: 0 auto;
}

.bottom-menu {
  position: fixed;
  left: 0%;
  right: 0%;
  bottom: 52px;
  z-index: 1;
  display: flex;
  width: 414px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  justify-content: space-between;
  align-items: center;
}

.fab-link {
  position: fixed;
  left: 925px;
  bottom: 95px;
  padding: 0px;
  background-color: transparent;
  text-align: left;
}

.bot-link {
  padding: 18px 0px;
  background-color: transparent;
  position: fixed;
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 18px 0px;
  background-color: transparent;
  text-align: center;
}

.bot-link-icon {
  display: block;
  width: 24px;
}

.bot-link-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.bot-link.food {
  position: relative;
  left: 80px;
}

.bot-link.connect {
  position: relative;
  left: auto;
  margin-left: 160px;
}

.bot-link.settings {
  position: relative;
}

.bottom-nav-text {
  display: inline-block;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
}

.bottom-nav-text.active {
  color: #e742f1;
}

/* =======================================
MEDIA QUERIES
======================================= */

@media only screen and (max-width: 1450px) {
  .main-container,
  .main-container.map-zoom-in {
    height: 100vh;
    top: 0;
    bottom: 0;
  }

  .bottom-menu {
    bottom: 12px;
  }

  .bottom-bar-bg {
    bottom: 0px;
  }

  .fab-link {
    left: 685px;
    bottom: 52px;
  }

  .keyboard-input {
    position: fixed;
    bottom: 0px;
  }

  /* Drone Delivery */
  .food-menu-title {
    top: -15px;
    position: relative;
  }

  .food-menu-gif {
    display: flex;
    height: 270px;
    justify-content: center;
  }

  .food-menu-gif img {
    width: 83%;
  }
}

@media screen and (max-width: 479px) {
  .main-container {
    position: static;
  }
}
